!!! 5
html
    head
        title EquiDist
    body
        header
            h1 EquiDist
        
        article
            h2 Stéphane Ferlin
            div.portfolio
                img(src="http://www.polinoix.com/images/ramasnoix.jpg")
                img(src="http://www.polinoix.com/images/DSCN1338b.jpg")
            div Stéphane FERLIN, agriculteur à POLIENAS en ISERE et producteur de noix de GRENOBLE en AOC, vous présente l'ensemble des produits de son exploitation d'une superficie totale de 70 hectares. Vous trouverez dans la page « produits » les noix fraiches et sèches, l'huile de noix et les apéritifs et « vins de noix ».
            h2 Produits
                div.produit
                    h3 Huile de noix
                    img(src="http://www.polinoix.com/images/products/huile-de-noix/huile%201lm.jpg")
                    div Huile de noix obtenue de façon traditionnelle. Les noix sont écrasées avec une pierre, la pâte obtenue est chauffée dans une poêle spéciale au feu de bois puis pressée hydrauliquement.
                    div.quantite 1 litre
                    div.prix 12.00 €
                    div.note 4 étoiles
                    div.action Commander

                div.produit
                    h3 Noix sèches
                    div AOC « Noix de Grenoble » aujourd'hui appelation origine protégée.
                    div.quantite 10 kg
                    div.prix 27.00 €
                    div.note 3.5 étoiles
                    div.action Commander