!!! 5
html
    head
        title EquiDist
    body
        header
            h1 EquiDist

        article
            h2 Commander

            div.panier

                div.article
                    div Noix sèches
                    div.quantite 1
                    div.prix 27.00 € pour le producteur + 16 € de frais de port et de service
                    div.hint Regroupez-vous avec 2 autres consommateurs et payez seulement 7 € de frais de port et de service !
                        a(href="#") Chercher des consommateurs locaux