!!! 5
html
    head
        title EquiDist
    body
        header
            h1 EquiDist

        article
            h2 Producteurs

            ul
                li
                    a(href="#") Les plus récents
                li
                    a(href="#") Par type de produit
                li
                    a(href="#") Les plus appréciés

            div.producteur
                h3 David Le Ruyet
                img(src="http://www.le-ruyet.com/images/savoir_faire/david_le_ruyet.jpg")
                div En Bretagne, David Le Ruyet élabore des spécialités culinaires originales, à la fois novatrices et authentiques, à base de blé tendre cultivé sur l'exploitation familiale de Languidic.

                div Ce jeune agriculteur adopte des pratiques respectueuses de l'environnement pour obtenir à chaque récolte des grains de très haute qualité. Caractérisées par une belle couleur ambrée, les spécialités Le Ruyet, déjà adoptées par de grands chefs, vous surprendront par leur saveur insoupçonnée.

            div.producteur
                h3 Stéphane Ferlin
                img(src="http://www.polinoix.com/images/ramasnoix.jpg")
                div Stéphane FERLIN, agriculteur à POLIENAS en ISERE et producteur de noix de GRENOBLE en AOC, vous présente l'ensemble des produits de son exploitation d'une superficie totale de 70 hectares. Vous trouverez dans la page « produits » les noix fraiches et sèches, l'huile de noix et les apéritifs et « vins de noix ».